.about-us {
    display: flex;
    position: relative;
    height: 100vh;
    padding: 0 0;
}

.about-left {
    width: 50%;
    padding: 4rem 6rem;
    color: #fff;
    background: linear-gradient(180deg, #131618 0%, rgba(19, 22, 24, 0.85) 100%);
}
.about-left span {
    color: var(--hero)
}

.about-left>h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 75px;
    padding-bottom: 10px;
}

.about-left>h3::before {
    content: '';
    position: absolute;
    background-color: var(--hero);
    width: 120px;
    height: 3px;
    margin: 4rem 0;
}

.about-desc p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 34px;
    
    
}

.about-right {
    width: 50%;
    margin-top: 0px;
}

.about-right img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

@media screen and (max-width:900px) {
    .about-us {
        display: block;
    }

    .about-left {
        width: 100%;
       
    }

    .about-right {
        width: 100%;
        
    }

    .about-right img {
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: contain;
    }
}




/* Last Section */

.last-section {
    display: flex;
}

.left-sec {
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: linear-gradient(180deg, #131618 0%, rgba(19, 22, 24, 0.85) 100%);
}

.left-sec p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: var(--white);
    margin: 0 auto;
}

.right-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: var(--hero);
    padding: 1.5rem;
}

.right-sec p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: var(--white);
    margin: 0 auto;
}

@media screen and (max-width:676px) {
    .last-section {
        display: block;
    }

    .left-sec {
        width: 100%;
    }

    .right-sec {
        width: 100%;
    }
}