.hero-brands {
    background: linear-gradient(180deg, #131618 0%, rgba(19, 22, 24, 0.85) 100%);
    padding: 2rem 0;
}

.brands {
    display: flex;
    justify-content: space-between;
}

.brands p {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    color: var(--white);
}

.brands span {
    color: var(--hero);
}

/* carousel Brand images */


.brand-carousel {
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: center; */
    gap: 4rem;
    overflow: hidden;
}


.brand-img {
    animation: scroll-brand 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
    /* padding: 2rem 0; */
    /* animation: slide 3s ease-in infinite alternate-reverse; */
}

@keyframes slide {
    0% {
        transform: translateX(-500%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

.brand-img>img {
    width: 100px;
}


/* Brand Slider-ss */
.hero-brands{
    position: relative;
    overflow: hidden;
}

/* .slider-ss::before,
.slider-ss::after {
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
} */

/* .slider-ss::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
} */

/* .slider-ss::before {
	left: 0;
	top: 0;
} */

/* .slider-ss .slide-track {
	animation: scroll-brand 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
} */

/* .slider-ss .slide-me {
	height: 100px;
	width: 250px;
} */

@keyframes scroll-brand {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 8)); }
}
