.customer-heading {
    /* padding: 1px; */
    background: linear-gradient(180deg, #131618 0%, rgba(19, 22, 24, 0.85) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.customer-img img{
    width: 100px;
    height: 100px;
}
.customer-heading p {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 56px;
    line-height: 72px;
    color: #FFFFFF;
    margin: 0 auto;
}

.customer-heading span {
    color: var(--hero);
}

.customer-heading p::after {
    content: '';
    position: absolute;
    background-color: var(--hero);
    height: 2px;
    display: flex;
    width: 110px;
    margin: 0 24rem;
}

@media screen and (max-width:660px) {
    .customer-heading p {
        font-size: 30px;
    }

    .customer-heading p::after {
        content: '';
        position: absolute;
        background-color: var(--hero);
        height: 2px;
        display: flex;
        width: 120px;
        margin: 0 13rem;
    }
}


/* Customer Card */

.customer-card {
    /* height: 50vh; */
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.customers {
    display: flex;
    gap: 2rem;
    margin: 0;
}

@media screen and (min-width:1400px) and (max-width:1600px) {
    .customer-card {
        /* height: 80vh; */
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.customer {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    gap: 1rem;
    cursor: pointer;
}

.customer-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.customer-message p {
    font-family: 'Roboto';
    margin: 0 auto;
}

.rating img {
    margin: 0 auto;
}

.customer-name p {
    color: #ABABAB;
    font-family: 'Roboto';
    margin: 0 auto;
}

#read-more {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #7E7E7E !important;
}


/* Card Section */

section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background-color: #7d2ae8; */
    height: 470px;
}




.card-slide {
    background: #fff;
    margin: 20px 0;
}


.card-slide .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 30px; */
    gap: 30px;
    
}


.card-slide .rating i {
    font-size: 18px;
    margin: 0 2px;
    color: var(--hero);
}



