.third-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    min-height: 210px !important;
    
}

.third-card:nth-child(1) {
    background: linear-gradient(180deg, #131618 0%, rgba(19, 22, 24, 0.85) 100%);
}

.third-card:nth-child(2) {
    padding: 2rem 1.9rem !important;
}

#third-text{
    font-size: 22px;
}

.third-card:nth-child(1) p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0 auto;
}

.third-card:nth-child(2) p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #171A1C;
}

.third-card:nth-child(1) span {
    color: var(--hero);
}